/* Place CSS styles here */
body {
    background-color: red;
    font-size: 7rem;
    font-family:'Courier New', Courier, monospace
    line-height: 1.4em;
    
    
    
}
p {
    text-emphasis-color: red;
}
