/* Place CSS styles here */
body {
    background-color: red;
    font-family:'Courier New', Courier, monospace
    text-shadow 3x 3px 7px black;
    font-size: 7rem;
    text-align: center;
    
}
p {
    text-emphasis-color: red;
}
